<?xml version="1.0"?>
<config>
    <modules>
        <WBL_Minify>
            <version>1.0.0</version>
        </WBL_Minify>
    </modules>
    <global>
        <helpers>
            <wbl_minify>
                <class>WBL_Minify_Helper</class>
            </wbl_minify>
            <core>
                <rewrite>
                    <data>WBL_Minify_Helper_Core_Data</data>
                </rewrite>
            </core>
        </helpers>
        <models>
            <wbl_minify>
                <class>WBL_Minify_Model</class>
            </wbl_minify>
            <core>
                <rewrite>
                    <design_package>WBL_Minify_Model_Design_Package</design_package>
                </rewrite>
            </core>
        </models>
        <blocks>
            <page>
                <rewrite>
                    <html_head>WBL_Minify_Block_Page_Html_Head</html_head>
                </rewrite>
            </page>
        </blocks>
    </global>
</config>
